/* Spinner CSS */
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid #ffffff; /* Mengubah warna border menjadi putih */
  border-color: #ffffff transparent #ffffff transparent; /* Mengubah warna border menjadi putih */
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the spinner container */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height to center the spinner */
  background: linear-gradient(to bottom, #7b2ff7, #f107a3);
}

.spinner-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height to center the spinner */
}
